.body{
    background: rgb(82, 170, 228);
  }
  .box{
    display: flex;

    flex-direction: column;
    justify-content: start;
    width: 720px;
    min-height: 500px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding: 32px
  }
  
  .todo-button {
    padding: 16px;
    margin: 10px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 520px;
    background: transparent;
    color: #fff;
    margin: 20px;
  }
  .todo-input option {
      background: #161a2b;;
  }
  .items{
      display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }